*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #4b1414;
    color:#fff;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}
table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

table tr th {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
table tr th img {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

section{
    display: flex;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
}