*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

/* navbar section */
.navbar{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 40px;
  background-color: #343a40;
}

.Lnav {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 10%; */
}
.Rnav{
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 50%; */
}

.cat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 8px;
}

.Lnav img {
  width: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Rnav img{
  width: 55px;
}

.Rnav span{
  font-size: 12px;
  color: #f8f9fa;
  font-family: 'Cairo', sans-serif;
}
.icon, i{
  color: #f8f9fa;
  font-size: 12px; 
  padding: 5px;
}

/* header section */

.main_head img{
  width: 100%;
}